/* Background Color Change on Scroll */

selector.elementor-sticky--effects {
   background-color: rgba(255,255,255,0.9) !important;
   transition: background-color 0.5s ease!important;
}

/* Logo Swap */

selector #Logo_Hide {
    display:none;
}

selector.elementor-sticky--effects #Logo_Show {
    display:none;
}

selector.elementor-sticky--effects #Logo_Hide {
    display:block;
}

/* Color Changes on Scroll */

   /* SVG icons/logos */

selector.elementor-sticky--effects .elementor-icon svg {
   fill:#333333!important;
}

selector.elementor-sticky--effects .elementor-icon svg:hover {
   fill:#0047BB!important;
}

   /* Regular icons */

selector.elementor-sticky--effects .elementor-icon i {
   color:#333333!important;
}

selector.elementor-sticky--effects .elementor-icon i:hover {
   color:#0047BB!important;
}

   /* Button Icons */

selector.elementor-sticky--effects .elementor-button-icon {
   fill:#385B99!important;
}

   /* Button Text */

selector.elementor-sticky--effects .elementor-button-content-wrapper {
   color:#1f1f1f!important;
}

   /* WordPress Menu Element */

selector.elementor-sticky--effects .menu-item a {
   color:#385B99!important;
}

selector.elementor-sticky--effects .menu-item a:hover {
   color:#cba052!important;
}

selector .elementor-nav-menu--dropdown .menu-item a:hover {
    background-color:#2F3A4F!important;
    color:#fff!important;
}

   /* WordPress Menu Dropdown */

selector.elementor-sticky--effects a.elementor-sub-item:hover {
    color:#fff!important;
}

selector.elementor-sticky--effects .elementor-nav-menu--dropdown .menu-item a:hover {
    color:#fff!important;
    background-color:#2F3A4F!important;
}

   /* WordPress Menu Mobile Icon */

selector.elementor-sticky--effects .elementor-menu-toggle i {
   color:#1f1f1f!important;
}
